* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* background-color: #fff; */
  background-color: rgb(216, 212, 212);

  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
/* //////////////////////////// */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}
h4 {
  font-size: 140%;
}

/* h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
} */

/* ----- PARAGRAPHS ----- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ----- ICONS ----- */
.icon-big {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;

  /*secrets to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */
.btn {
  /* width: 300px; */
  /* text-align: center; */
}
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

/* /////////////////////////// */

header {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hero-text-box p {
  color: white;
  width: 350px;
  margin-bottom: 40px;
  text-align: justify;
}
/* .hero-text-box a{
  width: 250px;
  font-weight: ;
} */

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

/* Main navi */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/* Mobile navi */
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* ///////  Section 1   //////// */

.section-features {
  margin-bottom: 300px;
  /* background-color: pink; */
  background-color: rgb(216, 212, 212);
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  margin: 8% 0 1% 1.6%;
  align-items: center;
}

.col:first-child {
  margin-left: 0;
} /* all browsers except IE6 and lower */

.span-1-of-4 {
  width: 32%;
}

/* ///////  Section 2   //////// */
.section-2-burger,
.section-3-burger {
  display: flex;
  justify-content: center;
  background-color: violet;
  color: white;
}

.section-2-main,
.section-3-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: left;
  gap: 130px;
  align-items: center;
  /* margin: 8% 0 1% 1.6%; */
}
.section-2-first img,
.section-3-first img {
  height: 377;
  width: 377px;
  border-radius: 200px;
}
.section-2-sec,
.section-3-sec {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.section-2-sec h4,
.section-3-sec h4 {
  font-size: 50px;
}
.section-2-sec p,
.section-3-sec p {
  margin-top: 30px;
  text-align: justify;
}
.section-2-sec a,
.section-3-sec a {
  margin-top: 30px;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

/* ///////  Section 3  ///////// */
.section-3-burger {
  background-color: rgb(216, 212, 212);
}
.section-3-sec h4 {
  color: black;
}
.section-3-sec p {
  color: black;
  /* text-align: justify; */
}
.section-3-sec a {
  color: black;
  /* background-color: violet; */
}

/* ///////  Section 4  ///////// */

.section-4 {
  background-color: violet;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: 6px solid white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.section-4-last {
  display: flex;
  flex-direction: row;
  margin: 5% 10% 0% 10%;
  justify-content: space-between;
}
/* ///////// Section 5  ///// */
.section-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 10% 0% 10%;
}

.section-5-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 29%;
  background-color: white;
  padding: 30px;
  gap: 20px;
}
.icon-big-2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* ///////  Section 6  //////// */

.section-6 {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(img/2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* background-attachment: fixed; */
}

.section-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 10px;
}
.section-6 p {
  width: 50%;
}

/* ///////  Section 7  //////// */

.section-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  margin: 7% 10% 7% 10%;
  /* width: 5000px; */
  gap: 30px;
}
.section-7 h4 {
  font-size: 40px;
  word-spacing: 1px;
  letter-spacing: 3px;
}
.section-7 p {
  width: 50%;
  font-size: 15px;
  text-align: justify;
  font-weight: 400;
}

input[type="text"] {
  padding: 6px;
  margin-top: 20px;
  font-size: 17px;
  width: 500px;
  height: 40px;
  border: none;
  border-radius: 50px;
}

/* /////////  Footer  /////// */
.section-8 {
  background-color: rgb(0, 0, 0);
  color: white;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 10% 2% 10%;
  /* color: white; */
  /* background-color: violet; */
  /* float: left; */
}
.footer-first {
  margin-right: 180px;
}
.footerr p {
  max-width: 400px;
  text-align: justify;
}
.footerr h5 {
  font-size: 20px;
  margin-bottom: 10px;
}
